# import modules

In [1]:
import matplotlib.pyplot as plt
from numpy import set_printoptions
from pandas import read_csv

# read data

In [2]:
#filename = 'C:\\Users\\Gururajan\\Downloads\\daily_retail_price_Onion-upto_apr_2015.csv '
names = ['Date','Centre_Name','Commodity_Name','Price']
oniondata = read_csv('daily_Onion_retail_price_upto_apr_2015_dataset.csv', names = names)

In [3]:
filename = "pima_indians_dataset.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
pimaindiansdata = read_csv('pima_indians_dataset.csv', names = names)

# what is the percentage number of days in which the onion price                  was minimum

# what is the percentage number of days in which the onion price                          was minimum

# What is the percentage number of days in which the onion price was greater than 20 and less than 40

# find the unique names of cities where onion price was maximum and minimum

# onion price analysis assignment answer

In [4]:
oniondata

            Date      Centre_Name Commodity_Name  Price
0       25-11-97            DELHI          Onion    8.0
1       25-11-97           SHIMLA          Onion    7.0
2       25-11-97          LUCKNOW          Onion    5.0
3       25-11-97        AHMEDABAD          Onion    6.0
4       25-11-97           BHOPAL          Onion    8.0
...          ...              ...            ...    ...
127906  28-04-15         DINDIGUL          Onion   18.0
127907  28-04-15  THIRUCHIRAPALLI          Onion   18.0
127908  28-04-15       COIMBATORE          Onion   18.0
127909  28-04-15      TIRUNELVELI          Onion   18.0
127910  28-04-15        HYDERABAD          Onion   22.0

[127911 rows x 4 columns]

In [5]:
oniondata.groupby(by="Commodity_Name").size()

Commodity_Name
Onion    127911
dtype: int64

In [6]:
oniondata.groupby(by="Commodity_Name").count()

                  Date  Centre_Name   Price
Commodity_Name
Onion           127911       127911  115991

In [7]:
oniondata.count()[0]

127911

In [8]:
y = oniondata.groupby(by="Commodity_Name").size()[0]
y

127911

In [7]:
x = oniondata[(oniondata.Price > 20) & (oniondata.Price < 40)].count()[0]
x

20847

In [10]:
x / y * 100

16.298050988577995

In [11]:
x = oniondata[(oniondata.Price > 50)].count()[0]
x

2541

In [12]:
x / y * 100

1.9865375143654571

In [5]:
maxprice = oniondata['Price'].max()
print(maxprice)

100.0

In [14]:
minprice = oniondata['Price'].min()
print(minprice)

2.0

In [15]:
x = oniondata[(oniondata.Price == maxprice)].count()[0]
x

18

In [16]:
x / y * 100

0.014072284635410558

In [17]:
x = oniondata[(oniondata.Price == minprice)].count()[0]
x

92

In [18]:
x / y * 100

0.07192501035876507

In [19]:
x / y * 100

0.07192501035876507

In [20]:
minprice = oniondata['Price'].min()
maxprice = oniondata['Price'].max()

print(minprice)
print(maxprice)

2.0
100.0

In [21]:
oniondata[oniondata.Price ==  minprice].groupby(by="Commodity_Name").size()

Commodity_Name
Onion    92
dtype: int64

In [6]:
print(oniondata[oniondata.Price == maxprice].Centre_Name.unique())

['AIZWAL']

print(oniondata[oniondata.Price == price].Centre_Name.unique())